@model List<ContactDetailViewModel>

@{
    ViewData["Title"] = "Inbox";
}

@section Styles
{
    <link type="text/css" href="~/css/inbox.css?v=1.2.0" rel="stylesheet" asp-append-version="true">
}

@section Breadcrumbs
{
    <div class="col-lg-6 col-7">
        <h6 class="h2 text-white d-inline-block mb-0">Inbox</h6>
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <input type="text" id="search-people-input" class="form-control" placeholder="Search..." onchange="filterContact()">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <button class="btn btn-danger text-white text-uppercase pull-right mt-1 mr-4" onclick="deleteAllSMS()">Clear All Messages</button>
                </div>
                
                <ul class="list-unstyled chat-list mt-1 mb-0" id="contact-detail-container">
                    @foreach (ContactDetailViewModel item in Model)
                    {
                        <li class="clearfix mt-1" data-phone="@item.phoneNumber" onclick="openMessages('@item.phoneNumber', '@item.name')">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="name"><strong> @item.name</strong></div>
                                    <div class="phone-number"> @item.phoneNumber </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-envelope" style="font-size: 1.3em;"></i>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-trash" style="font-size: 0.8em; margin-top: 25px" onclick="deleteContact('@item.phoneNumber')"></i>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="chat">
                <div class="chat-history">
                    <ul class="m-b-0" id="message-container">
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <textarea class="form-control" id="message-textarea" placeholder="Reply..."></textarea>
                    <span class="pull-right label label-default count-label" id="count_message">0/1592</span>
                </div>
                <button class="btn btn-danger text-white text-uppercase pull-right mt-1 mr-4" onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/inbox.js" asp-append-version="true"></script>   
}
